body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-Body {
  padding: 24px;
}

.Shopping-List-Header {

}

.Big-Label {
    font-size: 24px;
    text-align: left;
}

.List-Item {
  padding:12px;
}
.List-Item-Name {
    font-size: 20px;
}


.List-Card {
  padding:12px;
  transition: 0.2s;
}
.List-Card:hover {
  box-shadow: 0 0 10px rgb(0,0,0,.2);
  cursor: pointer;
}

.User-Icon {
  width:32px;
  height:32px;
  padding: 4px;
  text-align: center;
  text-overflow:clip;
  overflow:hidden;
  color: white;
  background-color: #7863eb;
  box-shadow: 0 2px 4px rgb(0,0,0,0.2);
  border-radius: 100%;
}

@media (max-width: 560px) {
    .verbose-label {
      display:none
    }
    .compact-label {
      display:block
    }
    .shrink-response {
      width: 40cqmin
    }      
    .Big-Label {
      font-size: 18px;
    }
    .Member-List {
      width:100%;
    }

}
@media (min-width: 560px) {
    .verbose-label {
      display:block
    }
    .compact-label {
      display:none
    }      
    .shrink-response {
      width: 40cqmin
    }     
    .Big-Label {
      font-size: 24px;
    }
    .Member-List {
      width:100%;
    }
}